@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

html,body{
    background-color: #141518;
    color: #ffffff;
}

#header {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: transparent;
    backdrop-filter: blur(12px);
    transition: var(--transition);
}